name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build debug version of NST with Gradle
      run: ./gradlew :app:assembleDebug
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: NST-debugBuild
        path: ./app/build/outputs/apk/debug/NST-debug.apk
